@import "tailwindcss";

:root {
  font-family: Rubik, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
}

/* Heading */
h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  display: inline;
  margin: 50px;
}

/* Paragraph */
p {
  font-size: 1.1rem;
  color: #b3b3b3;
  margin-bottom: 2rem;
}

/* Button */
button {
  background-color: white;
  color: black;
  padding: 12px 28px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 50px 150px;
}

/* Hover Effect */
button:hover {
  background-color: #e5e5e5;
  transform: translateY(-2px);
}

/* Active Click Effect */
button:active {
  transform: scale(0.96);
}


.diiv {
  min-width: 100vw;
}


.dark {
  color: aliceblue;
  background: red;
}
.light {
  color: rgb(0, 0, 0);
  background: rgb(197, 197, 197);
}
